@import "custom";

body {
  background-color: #1F2023;
  height: 100vh;
}

.light {
  color: #fff;
}

.success-msg {
  color: #8CDBC4;
  padding: 10px 15px;
}

.fail-msg {
  color: red;
  padding: 10px 15px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.full-width {
  width: 100%;
}
